# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

## Generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.orig

## Custom paths
ld/
build/
tools/bin/
make_debs/github
make_debs/adtn-aux/

libj/doc/
libj/dist/
libj/bin
libj/.classpath
libj/.project
libj/c/*.h

libj/java-examples/.classpath
libj/java-examples/.gitignore
libj/java-examples/.project
libj/java-examples/lib/adtnlibj.jar
libj/java-examples/bin/

#CTags
.tags*