# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

## Generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.orig

## Custom paths
ld/
build/
examples/bin/
make_debs/debs/
make_debs/adtn-aux/

libj/doc/
libj/bin
libj/.classpath
libj/.project
/bin/
